* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: navajowhite;
}

.heading {
  position: absolute;
  top: 100px;
  color: maroon;
}

h1 {
  font-size: 2em;
}
.secret-btn {
  padding: 10px 10px;
  margin: 20px 0 0 40px;
  color: maroon;
  background-color: rosybrown;
  border: none;
  cursor: pointer;
}
.secret-btn:hover {
  transform: scale(1.1);
}

.secret-btn-styling2 {
  font-size: 10px;
}
.userNumber-btn {
  padding: 10px 10px;
  margin: 150px 0 0 10px;
  color: maroon;
  background-color: rosybrown;
  border: none;
  cursor: pointer;
}

.userNumber-btn:hover {
  transform: scale(1.1);
}
