* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: relative;
  height: 100vh;
  background-color: navajowhite;
}

.heading {
  position: absolute;
  top: 200px;
  left: 800px;
  color: maroon;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
.secret-btn {
  padding: 10px 10px;
  margin: 20px 0 0 0px;
  color: maroon;
  background-color: navajowhite;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.secret-btn:hover {
  transform: scale(1.1);
}

.secret-btn-styling2 {
  font-size: 10px;
}
.userNumber-btn {
  padding: 10px 10px;
  margin: 50px 0 0 0px;
  color: maroon;
  background-color: navajowhite;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.userNumber-btn:hover {
  transform: scale(1.1);
}
